@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Solitreo&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/75/109/209/sunset-16-bit-pixel-art-pokemon-wallpaper-preview.jpg);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 32px;
  font-family: 'Solitreo', cursive;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarjeta-de-mokepon img {
  width: 80px;
}
#boton-mascota{
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

input {
  display: none;
}
#seleccionar-ataque{
  align-items: center;
  flex-direction: column;
}

.boton-de-ataque{
  background-color: #11468f;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#mensajes {
  width: 280 px;
  background: pink;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
#boton-reiniciar {
  border: none;
  color: #11468f;


}
